<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layouts/layout-ver-1">

<th:block layout:fragment="contents">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Simple Table</h4>
                    </div>
                    <div class="card-header col-md-12 text-right position-absolute">
                        <button type="button" class="btn btn-primary btn-round">등록</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>No.</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회수</th>
                                </thead>
                                <tbody>
                                <tr th:if="${posts.isEmpty()}">
                                    <td colspan="5" style="text-align: center">포스팅 기록이 없습니다.</td>
                                </tr>
                                <th:block th:unless="${posts.isEmpty()}">
                                    <tr th:each="post: ${posts.content}">
                                        <td>No</td>
                                        <td th:text="${post.getTitle()}"></td>
                                        <td th:text="${post.getAuthor()}"></td>
                                        <td>작성일</td>
                                        <td>조회수</td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                            <div class="pagination-container" th:if="${!posts.isEmpty()}">
                                <div class="pagination p1"
                                     th:width="
                                            currentPage = ${posts.pageable.pageNumber},
                                            pageSize = ${posts.pageable.pageSize},
                                            totalPage = ${posts.totalPages},
                                            startPage = ${T(Math).floor(currentPage / pageSize) * pageSize + 1},
                                            temp = ${startPage + pageSize -1},
                                            endPage = (${temp > totalPage ? totalPage : temp})"
                                >
                                    <ul>
                                        <li th:classappend="${posts.first} ? 'disabled'">
                                            <a th:href="${posts.first} ? '#' : @{/admin/posts(page=${#numbers.formatDecimal(startPage - pageSize, 0, -1)})}"><</a>
                                        </li>
                                        <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'is-active'">
                                            <a th:href="@{/admin/posts(page=1)}"><</a>
                                        </li>
                                        <li th:classappend="${posts.last} ? 'disabled'">
                                            <a th:href="${posts.last} ? '#' : @{/admin/posts(page=${#numbers.formatDecimal(startPage - pageSize, 0, -1)})}">></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>