<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header role="banner" id="fh5co-header" th:fragment="navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="row">
                <div class="col-md-3">
                    <div class="fh5co-navbar-brand">
                        <a class="fh5co-logo" th:href="@{/}"><img src="/assets/front/images/brand-nav.png" alt="Closest Logo"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav text-center">
                        <li class="active"><a th:href="@{/}"><span>Work</span></a></li>
                        <li><a href="javascript:alert('준비중 입니다.');">About</a></li>
                        <li><a href="javascript:alert('준비중 입니다.');">History</a></li>
                        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Sign-in</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Sign-out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>