<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="update">
    <div class="modal fade" id="update" role="dialog" aria-labelledby="introHeader" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body card card-user" style="margin-bottom: 0;">
                    <div class="card-header">
                        <h5 class="card-title">답글 수정</h5>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/reple}" id="updateRepleForm" method="post">
                            <input type="hidden" id="updateRepleId" name="id">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="updateRepleContents">내용</label>
                                        <textarea class="form-control" id="updateRepleContents" name="repleContents"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="update ml-auto mr-auto">
                                    <button type="button" class="btn btn-primary btn-round" onclick="updateReple();">Update</button>
                                    <button type="button" class="btn btn-dark btn-round modalCloseBtn" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function updateReple() {
            var url = $("#updateRepleForm").attr("action");
            var type = "put";
            var data = {
                "id" : $("#updateRepleId").val(),
                "repleContents" : $("#updateRepleContents").val()
            };
            var json = JSON.stringify(data);

            $.ajax({
                type: type,
                url: url,
                data: json,
                contentType: "application/json; charset=UTF-8",
                success: function(data) {
                    $(".modalCloseBtn").trigger("click");
                    location.reload();
                }
            });
        }
    </script>
</th:block>